<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="../../js/vuejs/vue.js"></script>
</head>

<body>
    <a href="https://jp.vuejs.org/v2/guide/index.html#%E3%83%A6%E3%83%BC%E3%82%B6%E3%83%BC%E5%85%A5%E5%8A%9B%E3%81%AE%E5%88%B6%E5%BE%A1">はじめに</a>を写経。
    <div id="app">
        {{ message }}
        <!--elでバインドされたVueインスタンスのデータ属性と双方向でマッピングされる。-->
    </div>
    <div id="bind-sample">
        <span v-bind:title="message"> <!--v-bind:xxx　で、対象のタグの属性に、Vueインスタンスのデータ属性をバインド（束縛）する -->
            テキストコンテンツです。
        </span>
    </div>
    <!--分岐処理のサンプル。-->
    <div id="if-sample">
        <!--v-if="属性名"でtrue、非Nullの属性が指定された場合は、対象のタグが表示される。-->
        <span v-if="seen">表示されています。<a href="aaa">aaa</a></span>
    </div>
    <!--ループ処理のサンプル。-->
    <div id="for-sample">
        <ol>
            <li v-for="todo in todos"> <!--xxx in yyy の表記。Vueインスタンスの配列属性をyyyに指定。ループ内の一時変数をxxxに指定。-->
                {{todo.text}} <!--一時変数.属性でバインドする。-->
            </li>
        </ol>
    </div>
    <!-- ユーザー入力の制御 から。-->
</body>

<script language="JavaScript">
    var app = new Vue({
        //HTML中のid属性と同じ値をしてバインドする。
        el: '#app',
        //データの定義
        data: {
            message: 'Hello Vue!',
            message2: 'Goodby Vue!'
        }
    });
    <!-- 複数のViewインスタンスの生成可能。バインド先のELを変えるイメージ。 -->
    var app2 = new Vue({
        //HTML中のid属性と同じ値をしてバインドする。
        el: '#bind-sample',
        //データの定義
        data: {
            message: 'あなたは' + new Date().toLocaleDateString() + 'にこのページを開きました。'
        }
    });

    var app3 = new Vue({
        el: '#if-sample',
        data: {
            seen: true
        }
    });

    var app4 = new Vue({
        el: '#for-sample',
        data: {
            todos : [  //配列データを作成
                {text : 'JavaScriptを勉強します。'},
                {text : 'Javaはもういいです。'},
                {text : 'Vue.js割合楽しいです'}
            ]
        }
    });


</script>

</html>
