<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>TITLE</title>
  <script src="../../../js/vuejs/vue.js"></script>
  <script src="../../../js/vue-router/vue-router.js"></script>
</head>

<body>
  <a href="http://gihyo.jp/dev/serial/01/vuejs/0004?page=2">ネストされたルート</a>
  <div id="app1">
    <router-link to="/top">トップページ</router-link>
    <router-link to="/users">ユーザー一覧ページ</router-link><br/>
    <router-link to="/users?redirect=true">ユーザー一覧ページ（リダイレクト）</router-link><br/>
    <router-view></router-view>
  </div>
</body>

<script type="text/x-template" id="user-list">
  <div>
    <div class="loading" v-if="loading">ロード中…</div>
    <div v-if="error" class="error">
      {{error}}
    </div>
    <div v-for="user in users" :key="user.id">
      <h2><router-link :to="'user/'+user.id">{{user.name}}</router-link></h2>
    </div>
  </div>
</script>
<!--:key …　https://jp.vuejs.org/v2/guide/list.html#key-->

<script type="text/x-template" id="user-template">
  <div class="user">
    <h2>ユーザーIDは{{$route.params.userId}}です</h2>
    <router-link :to="'/user/' + $route.params.userId + '/profile'">ユーザーのプロファイルページを見る</router-link>
    <router-link :to="'/user/' + $route.params.userId + '/posts'">ユーザーの投稿ページを見る</router-link>
    <!--ネストされたルート。-->
    <router-view></router-view>
  </div>
</script>

<script type="text/x-template" id="login">
  <div class="login">
    <h2>ログイン画面</h2>
    <p v-if="$route.query.redirect">
      ログインして下さい。
    </p>
    <form @submit.prevent="login">
      <label><input v-model="email" placeholder="email" /></label>
      <label><input v-model="pass" placeholder="password" /></label>
      <button type="submit">ログイン</button>
      <p v-if="error" class="error">ログインに失敗しました。</p>
    </form>
  </div>
</script>

<script>
　//認証モジュール
  var Auth = {
    login(email,pass,cb){
      setTimeout(function(){
        if(email === 'vue@example.com' && pass === 'vue'){
          //ログイン成功時はローカルストレージにトークンを保存
          localStorage.token = Math.random().toString(36).substring(7);
          if(cb) cb(true);
        }else{
          if(cb) {cb(false)};
        }
      },0);
    },

    logout(){
      delete localStorage.token;
    },
    loggedIn(){
      return !!localStorage.token
    }
  }

  var getUsers = function(callback) {
    setTimeout(function() {
      callback(null, [{
          id: '001',
          name: '田中一郎'
        },
        {
          id: '002',
          name: '緋村剣心'
        }
      ])
    }, 1000);
  };

  var userList = {
    template: '#user-list',
    data() {
      return {
        loading: false,
        users() {
          return []
        },
        error: null
      }
    },
    created() {
      this.fetchData();
    },
    watch: {
      '$route': 'fetchData'
    },
    methods: {
      fetchData: function() {
        this.loading = true;
        getUsers(
          (function(err, users) {
            this.loading = true;
            if (err) {
              this.error = err.toString();
            } else {
              this.users = users;
            }
          }).bind(this) //thisの束縛。https://qiita.com/hosomichi/items/e11ad0c4ea79db2dee84
        )
      }
    }
    ,
    beforeRouteEnter(to,from,next){
      //ここでコンポーネントの初期化にフックして画面表示データを取得する実装なども可能。
      next();
    }
  }

  var users = {
    template: '<div>ユーザー一覧ページです</div>'
  };

  var login = {
    template : '#login',
    data (){
      return {
        email : 'vue@example.com',
        pass : '',
        error : false
      };
    },
    methods :{
      login(){
        Auth.login(this.email,this.pass,function(loggedIn){
          if(!loggedIn){
            this.error = true;
          }else{
            //クエリストリングで持ちまわった遷移先URLを取得して遷移。
            this.$router.replace(this.$route.query.redirect || '/')
          }
        }.bind(this));
      }
    }
  };

  var router = new VueRouter({
    routes: [
      {
        path: '/top',
        component: {
          template: '<div>トップページです</div>'
        }
      },
      {
        path: '/users',
        component: userList,
        //ルート単位でフック関数を定義する場合。
        beforeEnter: (to, from, next) => {
          if (to.query.redirect === 'true') {
            next('top')
          } else {
            next()
          }
        }
      },
      {
        path: '/user/:id',
        component: {
          template: '<div>UserDetailです <router-link to="/logout">ログアウト</router-link></div>'
        },
        //ユーザー詳細画面を表示する前に認証済みチェックをして、認証済みでなければログイン画面へ。
        beforeEnter : function(to,from,next) {
          if(!Auth.loggedIn()){
            next({
              path : '/login',
              //遷移先画面に、本来移動したいURLをパラメータで保持。
              query : {redirect:to.fullPath}
            });
          }else{
            next();
          }
        }
      },
      {
        path: '/login',
        component: login
      },
      {
        path: '/logout',
        beforeEnter : function(to,from,next){
          Auth.logout();
          next('/')
        }
      }
    ]
  });

  //グローバルのフック関数 /usersに遷移した場合、強制的に/toにリダイレクト。
  //アプリとしては正しく動作しない例なのでコメントアウト。
  // router.beforeEach((to,from,next)=>{
  //   if(to.path === '/users'){
  //     next('top')
  //   }else {
  //     next()
  //   }
  // });

  var app1 = new Vue({
    router: router,
    el: '#app1'
  });
</script>

</html>
